<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href='/staticFiles/style.css' />
    <title>Find My Photo</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="main">
        <h1>Find My Photo</h1>
        <form action="{{ url_for("index")}}" method="post" enctype="multipart/form-data">
            <label>Upload Photo:</label>
            <input type="file" id="img" name="image" accept="image/*">
            <label>Link: </label>
            <input type="text" name="link" placeholder="Enter drive link"/>
            <button type="submit" name="get_link">Submit</button>
        </form>
        {% if count %}
        <p>{{ count }}</p>
        {% endif %}
        {% if pics %}
        <div class="main-container">
            {% for pic in pics %}
            <div class="image-container">
                <img src="https://drive.google.com/uc?export=view&id={{pic['id']}}" class="responsive-image">
                <a href="https://drive.google.com/uc?export=download&id={{pic['id']}}" class="download-link"></a>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
  </body>
</html>